# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/sec-keys.sh
/travis-permisson.sh
/.gradle/
/build/
/template-server/build/
/template-client/build/
/seckeys.sh
